body {
	position: relative;
  }

.navbar, .navbar-brand {
	padding: 0 !important;
}

#navLogoGe {
	padding: 5px;
}

#navTitleGe {
	vertical-align:-25%;
}

.navbar.navbar-dark.bg-dark {
	background: rgba(100,100,100,0.4) !important;
} 

.navbar-dark .navbar-nav .nav-link {
	color: white !important;
}

.navbar-dark .navbar-nav .nav-link.active {
	background: rgba(50,50,50,0.4) !important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
	color: rgb(80, 80, 80) !important;
}

.transparency {
	background: rgba(255,255,255,0.9) !important;
}

a.arrow {
	padding-top: 190px;
	color: white;
}

#title img {
	margin-top:-10px;
	margin-right:10px;
}

.parallax {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	height: auto;  
	margin: 0 auto;
	width: 100%; 
	position: relative; 	
}

#headband {
	background-image: url("images/head-band-2018.png");
	padding: 500px 0;
}

.center {
	display: block;
	margin: 0 auto;
	text-align: center;
}

#concept { 
	background-image: url("images/public.jpg");
	background-size: 120%;
	padding: 150px 0;
}

#benevolat { 
	background-image: url("images/benevoles2.jpg");
	padding: 300px 0;
}

.benevoleMotiv {
	margin: 0 auto;
	max-width: 600px !important;
}

#programmation { 
	background-image: url("images/artiste.jpg");
	 opacity: 0.9;
	padding: 300px 0;
}

#coming { 
	background-image: url("images/more.png");
	background-repeat: repeat;
	background-size: 5%;
	padding: 90px 0 10px 0;
}

#mapid {
	height: 180px;
	min-height: 400px;
}

footer {
	padding-top: 10px; 
}
